# Unity
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/

# Visual Studio / VSCode
.vs/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs

# OS
.DS_Store
Thumbs.db

# Unity cache
MemoryCaptures/


Assets/Firebase/Plugins/x86_64/